<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="none">
    <test verbose="2" preserve-order="true"
          name="C:/Users/hopse/IdeaProjects/Yavuz_Velioglu_QAEngineer_SeleniumTask21/target">
        <classes>
            <class name="com.useinsider.tests.seleniumTask"></class>
        </classes>
    </test>
</suite>



